# Sesi 7

In [1]:
import numpy as np
import pandas as pd

In [2]:
df_can = pd.read_excel('https://raw.githubusercontent.com/ardhiraka/PFDS_sources/master/Canada.xlsx',
                      sheet_name='Canada by Citizenship',
                      skiprows=range(20),
                      skipfooter=2)

print('Data read into a pandas dataframe')

Data read into a pandas dataframe

In [3]:
df_can.head()

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Immigrants,Foreigners,Afghanistan,935,Asia,5501,Southern Asia,902,Developing regions,16,...,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
1,Immigrants,Foreigners,Albania,908,Europe,925,Southern Europe,901,Developed regions,1,...,1450,1223,856,702,560,716,561,539,620,603
2,Immigrants,Foreigners,Algeria,903,Africa,912,Northern Africa,902,Developing regions,80,...,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331
3,Immigrants,Foreigners,American Samoa,909,Oceania,957,Polynesia,902,Developing regions,0,...,0,0,1,0,0,0,0,0,0,0
4,Immigrants,Foreigners,Andorra,908,Europe,925,Southern Europe,901,Developed regions,0,...,0,0,1,1,0,0,0,0,1,1

In [4]:
df_can.tail()

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
190,Immigrants,Foreigners,Viet Nam,935,Asia,920,South-Eastern Asia,902,Developing regions,1191,...,1816,1852,3153,2574,1784,2171,1942,1723,1731,2112
191,Immigrants,Foreigners,Western Sahara,903,Africa,912,Northern Africa,902,Developing regions,0,...,0,0,1,0,0,0,0,0,0,0
192,Immigrants,Foreigners,Yemen,935,Asia,922,Western Asia,902,Developing regions,1,...,124,161,140,122,133,128,211,160,174,217
193,Immigrants,Foreigners,Zambia,903,Africa,910,Eastern Africa,902,Developing regions,11,...,56,91,77,71,64,60,102,69,46,59
194,Immigrants,Foreigners,Zimbabwe,903,Africa,910,Eastern Africa,902,Developing regions,72,...,1450,615,454,663,611,508,494,434,437,407

In [5]:
df_can.info

<bound method DataFrame.info of            Type    Coverage          OdName  AREA AreaName   REG  \
0    Immigrants  Foreigners     Afghanistan   935     Asia  5501
1    Immigrants  Foreigners         Albania   908   Europe   925
2    Immigrants  Foreigners         Algeria   903   Africa   912
3    Immigrants  Foreigners  American Samoa   909  Oceania   957
4    Immigrants  Foreigners         Andorra   908   Europe   925
..          ...         ...             ...   ...      ...   ...
190  Immigrants  Foreigners        Viet Nam   935     Asia   920
191  Immigrants  Foreigners  Western Sahara   903   Africa   912
192  Immigrants  Foreigners           Yemen   935     Asia   922
193  Immigrants  Foreigners          Zambia   903   Africa   910
194  Immigrants  Foreigners        Zimbabwe   903   Africa   910

                RegName  DEV             DevName  1980  ...  2004  2005  2006  \
0         Southern Asia  902  Developing regions    16  ...  2978  3436  3009
1       Southern Europe  901   Developed regions     1  ...  1450  1223   856
2       Northern Africa  902  Developing regions    80  ...  3616  3626  4807
3             Polynesia  902  Developing regions     0  ...     0     0     1
4       Southern Europe  901   Developed regions     0  ...     0     0     1
..                  ...  ...                 ...   ...  ...   ...   ...   ...
190  South-Eastern Asia  902  Developing regions  1191  ...  1816  1852  3153
191     Northern Africa  902  Developing regions     0  ...     0     0     1
192        Western Asia  902  Developing regions     1  ...   124   161   140
193      Eastern Africa  902  Developing regions    11  ...    56    91    77
194      Eastern Africa  902  Developing regions    72  ...  1450   615   454

     2007  2008  2009  2010  2011  2012  2013
0    2652  2111  1746  1758  2203  2635  2004
1     702   560   716   561   539   620   603
2    3623  4005  5393  4752  4325  3774  4331
3       0     0     0     0     0     0     0
4       1     0     0     0     0     1     1
..    ...   ...   ...   ...   ...   ...   ...
190  2574  1784  2171  1942  1723  1731  2112
191     0     0     0     0     0     0     0
192   122   133   128   211   160   174   217
193    71    64    60   102    69    46    59
194   663   611   508   494   434   437   407

[195 rows x 43 columns]>

In [6]:
df_can.shape

(195, 43)

In [7]:
df_can.drop(['AREA', 'REG', 'DEV', 'Type', 'Coverage'],
           axis=1, inplace=True)

df_can.head(2)

,OdName,AreaName,RegName,DevName,1980,1981,1982,1983,1984,1985,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Afghanistan,Asia,Southern Asia,Developing regions,16,39,39,47,71,340,...,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
1,Albania,Europe,Southern Europe,Developed regions,1,0,0,0,0,0,...,1450,1223,856,702,560,716,561,539,620,603

In [8]:
df_can.rename(columns={
    'OdName': 'Country',
    'AreaName': 'Continent',
    'RegName': 'Region'
}, inplace=True)

df_can.head(2)

,Country,Continent,Region,DevName,1980,1981,1982,1983,1984,1985,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Afghanistan,Asia,Southern Asia,Developing regions,16,39,39,47,71,340,...,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
1,Albania,Europe,Southern Europe,Developed regions,1,0,0,0,0,0,...,1450,1223,856,702,560,716,561,539,620,603

In [9]:
df_can['Total'] = df_can.sum(axis=1)

In [10]:
df_can.head(2)

,Country,Continent,Region,DevName,1980,1981,1982,1983,1984,1985,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
0,Afghanistan,Asia,Southern Asia,Developing regions,16,39,39,47,71,340,...,3436,3009,2652,2111,1746,1758,2203,2635,2004,58639
1,Albania,Europe,Southern Europe,Developed regions,1,0,0,0,0,0,...,1223,856,702,560,716,561,539,620,603,15699

In [11]:
df_can[['Country', 2010, 2011, 2012, 2013]]

            Country  2010  2011  2012  2013
0       Afghanistan  1758  2203  2635  2004
1           Albania   561   539   620   603
2           Algeria  4752  4325  3774  4331
3    American Samoa     0     0     0     0
4           Andorra     0     0     1     1
..              ...   ...   ...   ...   ...
190        Viet Nam  1942  1723  1731  2112
191  Western Sahara     0     0     0     0
192           Yemen   211   160   174   217
193          Zambia   102    69    46    59
194        Zimbabwe   494   434   437   407

[195 rows x 5 columns]

In [12]:
df_can.set_index('Country', inplace = True)

In [13]:
df_can.head(3)

,Continent,Region,DevName,1980,1981,1982,1983,1984,1985,1986,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,Asia,Southern Asia,Developing regions,16,39,39,47,71,340,496,...,3436,3009,2652,2111,1746,1758,2203,2635,2004,58639
Albania,Europe,Southern Europe,Developed regions,1,0,0,0,0,0,1,...,1223,856,702,560,716,561,539,620,603,15699
Algeria,Africa,Northern Africa,Developing regions,80,67,71,69,63,44,69,...,3626,4807,3623,4005,5393,4752,4325,3774,4331,69439

In [14]:
df_can.loc['Indonesia']

Continent                  Asia
Region       South-Eastern Asia
DevName      Developing regions
1980                        186
1981                        178
1982                        252
1983                        115
1984                        123
1985                        100
1986                        127
1987                        213
1988                        270
1989                        260
1990                        227
1991                        252
1992                        243
1993                        278
1994                        262
1995                        205
1996                        231
1997                        166
1998                        165
1999                        525
2000                       1138
2001                        907
2002                        709
2003                        515
2004                        552
2005                        632
2006                        613
2007                        657
2008                        661
2009                        504
2010                        712
2011                        390
2012                        395
2013                        387
Total                     13150
Name: Indonesia, dtype: object

In [15]:
df_can.columns = list(map(str, df_can.columns))

In [16]:
years = list(str(range(1980, 2014), ))

In [17]:
df_can[
    df_can['Continent'] == 'Asia'
]

,Continent,Region,DevName,1980,1981,1982,1983,1984,1985,1986,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,Asia,Southern Asia,Developing regions,16,39,39,47,71,340,496,...,3436,3009,2652,2111,1746,1758,2203,2635,2004,58639
Armenia,Asia,Western Asia,Developing regions,0,0,0,0,0,0,0,...,224,218,198,205,267,252,236,258,207,3310
Azerbaijan,Asia,Western Asia,Developing regions,0,0,0,0,0,0,0,...,359,236,203,125,165,209,138,161,57,2649
Bahrain,Asia,Western Asia,Developing regions,0,2,1,1,1,3,0,...,12,12,22,9,35,28,21,39,32,475
Bangladesh,Asia,Southern Asia,Developing regions,83,84,86,81,98,92,486,...,4171,4014,2897,2939,2104,4721,2694,2640,3789,65568
Bhutan,Asia,Southern Asia,Developing regions,0,0,0,0,1,0,0,...,5,10,7,36,865,1464,1879,1075,487,5876
Brunei Darussalam,Asia,South-Eastern Asia,Developing regions,79,6,8,2,2,4,12,...,4,5,11,10,5,12,6,3,6,600
Cambodia,Asia,South-Eastern Asia,Developing regions,12,19,26,33,10,7,8,...,370,529,460,354,203,200,196,233,288,6538
China,Asia,Eastern Asia,Developing regions,5123,6682,3308,1863,1527,1816,1960,...,42584,33518,27642,30037,29622,30391,28502,33024,34129,659962
"China, Hong Kong Special Administrative Region",Asia,Eastern Asia,Developing regions,0,0,0,0,0,0,0,...,729,712,674,897,657,623,591,728,774,9327
"China, Macao Special Administrative Region",Asia,Eastern Asia,Developing regions,0,0,0,0,0,0,0,...,21,32,16,12,21,21,13,33,29,284
Cyprus,Asia,Western Asia,Developing regions,132,128,84,46,46,43,48,...,7,9,4,7,6,18,6,12,16,1126
Democratic People's Republic of Korea,Asia,Eastern Asia,Developing regions,1,1,3,1,4,3,0,...,14,10,7,19,11,45,97,66,17,388
Georgia,Asia,Western Asia,Developing regions,0,0,0,0,0,0,0,...,114,125,132,112,128,126,139,147,125,2068
India,Asia,Southern Asia,Developing regions,8880,8670,8147,7338,5704,4211,7150,...,36210,33848,28742,28261,29456,34235,27509,30933,33087,691904
Indonesia,Asia,South-Eastern Asia,Developing regions,186,178,252,115,123,100,127,...,632,613,657,661,504,712,390,395,387,13150
Iran (Islamic Republic of),Asia,Southern Asia,Developing regions,1172,1429,1822,1592,1977,1648,1794,...,5837,7480,6974,6475,6580,7477,7479,7534,11291,175923
Iraq,Asia,Western Asia,Developing regions,262,245,260,380,428,231,265,...,2226,1788,2406,3543,5450,5941,6196,4041,4918,69789
Israel,Asia,Western Asia,Developing regions,1403,1711,1334,541,446,680,1212,...,2446,2625,2401,2562,2316,2755,1970,2134,1945,66508
Japan,Asia,Eastern Asia,Developed regions,701,756,598,309,246,198,248,...,1067,1212,1250,1284,1194,1168,1265,1214,982,27707
Jordan,Asia,Western Asia,Developing regions,177,160,155,113,102,179,181,...,1940,1827,1421,1581,1235,1831,1635,1206,1255,35406
Kazakhstan,Asia,Central Asia,Developing regions,0,0,0,0,0,0,0,...,506,408,436,394,431,377,381,462,348,8490
Kuwait,Asia,Western Asia,Developing regions,1,0,8,2,1,4,4,...,66,35,62,53,68,67,58,73,48,2025
Kyrgyzstan,Asia,Central Asia,Developing regions,0,0,0,0,0,0,0,...,173,161,135,168,173,157,159,278,123,2353
Lao People's Democratic Republic,Asia,South-Eastern Asia,Developing regions,11,6,16,16,7,17,21,...,42,74,53,32,39,54,22,25,15,1089
Lebanon,Asia,Western Asia,Developing regions,1409,1119,1159,789,1253,1683,2576,...,3709,3802,3467,3566,3077,3432,3072,1614,2172,115359
Malaysia,Asia,South-Eastern Asia,Developing regions,786,816,813,448,384,374,425,...,593,580,600,658,640,802,409,358,204,24417
Maldives,Asia,Southern Asia,Developing regions,0,0,0,1,0,0,0,...,0,0,2,1,7,4,3,1,1,30
Mongolia,Asia,Eastern Asia,Developing regions,0,0,0,0,0,0,0,...,59,64,82,59,118,169,103,68,99,952
Myanmar,Asia,South-Eastern Asia,Developing regions,80,62,46,31,41,23,18,...,210,953,1887,975,1153,556,368,193,262,9245
Nepal,Asia,Southern Asia,Developing regions,1,1,6,1,2,4,13,...,607,540,511,581,561,1392,1129,1185,1308,10222
Oman,Asia,Western Asia,Developing regions,0,0,0,8,0,0,0,...,14,18,16,10,7,14,10,13,11,224
Pakistan,Asia,Southern Asia,Developing regions,978,972,1201,900,668,514,691,...,14314,13127,10124,8994,7217,6811,7468,11227,12603,241600
Philippines,Asia,South-Eastern Asia,Developing regions,6051,5921,5249,4562,3801,3150,4166,...,18139,18400,19837,24887,28573,38617,36765,34315,29544,511391
Qatar,Asia,Western Asia,Developing regions,0,0,0,0,0,0,1,...,11,2,5,9,6,18,3,14,6,157
Republic of Korea,Asia,Eastern Asia,Developing regions,1011,1456,1572,1081,847,962,1208,...,5832,6215,5920,7294,5874,5537,4588,5316,4509,142581
Saudi Arabia,Asia,Western Asia,Developing regions,0,0,1,4,1,2,5,...,198,252,188,249,246,330,278,286,267,3425
Singapore,Asia,South-Eastern Asia,Developing regions,241,301,337,169,128,139,205,...,392,298,690,734,366,805,219,146,141,14579
Sri Lanka,Asia,Southern Asia,Developing regions,185,371,290,197,1086,845,1838,...,4930,4714,4123,4756,4547,4422,3309,3338,2394,148358
State of Palestine,Asia,Western Asia,Developing regions,0,0,0,0,0,0,0,...,453,627,441,481,400,654,555,533,462,6512
Syrian Arab Republic,Asia,Western Asia,Developing regions,315,419,409,269,264,385,493,...,1458,1145,1056,919,917,1039,1005,650,1009,31485
Tajikistan,Asia,Central Asia,Developing regions,0,0,0,0,0,0,0,...,85,46,44,15,50,52,47,34,39,503
Thailand,Asia,South-Eastern Asia,Developing regions,56,53,113,65,82,66,78,...,575,500,487,519,512,499,396,296,400,9174
Turkey,Asia,Western Asia,Developing regions,481,874,706,280,338,202,257,...,2065,1638,1463,1122,1238,1492,1257,1068,729,31781
Turkmenistan,Asia,Central Asia,Developing regions,0,0,0,0,0,0,0,...,40,26,37,13,20,30,20,20,14,310
United Arab Emirates,Asia,Western Asia,Developing regions,0,2,2,1,2,0,5,...,31,42,37,33,37,86,60,54,46,836
Uzbekistan,Asia,Central Asia,Developing regions,0,0,0,0,0,0,0,...,330,262,284,215,288,289,162,235,167,3368
Viet Nam,Asia,South-Eastern Asia,Developing regions,1191,1829,2162,3404,7583,5907,2741,...,1852,3153,2574,1784,2171,1942,1723,1731,2112,97146
Yemen,Asia,Western Asia,Developing regions,1,2,1,6,0,18,7,...,161,140,122,133,128,211,160,174,217,2985

In [18]:
df_can[
    df_can['Region'] == 'South-Eastern Asia'
]

,Continent,Region,DevName,1980,1981,1982,1983,1984,1985,1986,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
Country,,,,,,,,,,,,,,,,,,,,,
Brunei Darussalam,Asia,South-Eastern Asia,Developing regions,79,6,8,2,2,4,12,...,4,5,11,10,5,12,6,3,6,600
Cambodia,Asia,South-Eastern Asia,Developing regions,12,19,26,33,10,7,8,...,370,529,460,354,203,200,196,233,288,6538
Indonesia,Asia,South-Eastern Asia,Developing regions,186,178,252,115,123,100,127,...,632,613,657,661,504,712,390,395,387,13150
Lao People's Democratic Republic,Asia,South-Eastern Asia,Developing regions,11,6,16,16,7,17,21,...,42,74,53,32,39,54,22,25,15,1089
Malaysia,Asia,South-Eastern Asia,Developing regions,786,816,813,448,384,374,425,...,593,580,600,658,640,802,409,358,204,24417
Myanmar,Asia,South-Eastern Asia,Developing regions,80,62,46,31,41,23,18,...,210,953,1887,975,1153,556,368,193,262,9245
Philippines,Asia,South-Eastern Asia,Developing regions,6051,5921,5249,4562,3801,3150,4166,...,18139,18400,19837,24887,28573,38617,36765,34315,29544,511391
Singapore,Asia,South-Eastern Asia,Developing regions,241,301,337,169,128,139,205,...,392,298,690,734,366,805,219,146,141,14579
Thailand,Asia,South-Eastern Asia,Developing regions,56,53,113,65,82,66,78,...,575,500,487,519,512,499,396,296,400,9174
Viet Nam,Asia,South-Eastern Asia,Developing regions,1191,1829,2162,3404,7583,5907,2741,...,1852,3153,2574,1784,2171,1942,1723,1731,2112,97146

## Visualizing Data using Matplotlib

In [19]:
%matplotlib inline

import matplotlib as mpl
import matplotlib.icon as plt

ModuleNotFoundError: No module named 'matplotlib.icon'

In [ ]:
print(plt.style.available)

In [ ]:
mpl.style.use(['ggplot'])

## Line Plots

In [ ]:
#untuk sesuatu yg berjalan

In [ ]:
haiti = df_can.loc['Haiti', years]
haiti.head()

In [ ]:
haiti.plot()

In [ ]:
haiti.index = haiti.index.
haiti.plot()

plt.title('Immigration from Haiti')
plt.ylabel('Number of Immigrants')
plt.xlabel('Years)
           
plt.show()

In [ ]:
haiti.plot()

plt.title('Immigration from Haiti')
plt.ylabel('Number of Immigrants')
plt.xlabel('Years)

plt.text(2000, 6000, '2010 Earthquake')
           
plt.show()

In [ ]:
China_India = df_can.loc[['China', 'India'], years]

China_India

In [ ]:
China_India.plot(kind='line')

In [ ]:
df_CI = China_India.transpose()

df_CI.head()

In [ ]:
df_CI.plot()

plt.title('Immigrants from China and India')
plt.xlabel('Years')
plt.ylabel('Number of Immigrants')

plt.show()

In [ ]:
df_can.sort_values(by='Total', ascending=False, axis=0, inplace=True)

In [ ]:
df_top5 = df_can.head(5)

In [ ]:
df_top5 = df.top5[years].transpose()
df_top5.head()

In [ ]:
df_top5.plot(figsize=(14,8))

plt.title('Immigration Trend of Top 5 Countries')
plt.ylabel('Number of Immigrants')
plt.xlabel('Years')

plt.show()

## Area Plot

In [ ]:
df_top5.plot(kind='area')

In [ ]:
df_top5.plot(kind='area',
            stacked=False,
            figsize=(20,10))

plt.title('Immigration Trend of Top 5 Countries')
plt.ylabel('Number of Immigrants')
plt.xlabel('Years')

plt.show()

## Histogram

In [ ]:
# untuk merepresentasikan distribusi frekuensi, contohnya populasi orang dg tinggi badan tertentu

In [ ]:
df_can['2013']

In [ ]:
np.histogram(df_can['2013'])

In [ ]:
df_can['2013'].plot(kind='hist',
                   figsize=(8,5))

plt.title('Histogram of Immigration in 2013')
plt.ylabel('Number of Immigrants')
plt.xlabel('Years')

plt.show()

In [ ]:
count, bin_edges = np.histogram(df_can['2013'])

df_can['2013'].plot(kind='hist',
                   figsize=(8,5),
                   xticks=bin_edges)

plt.title('Histogram of Immigration in 2013')
plt.ylabel('Number of Countries')
plt.xlabel('Number of Immigrants')

plt.show()

## Bar Chart

In [ ]:
# https://matplotlib.org/stable/gallery/color/named_colors.html

In [ ]:
df_iceland = df_can.loc['Iceland', years]

In [ ]:
df_iceland.plot(kind='bar',
               figsize=(10,6))

plt.title('Icelandic Immigrants to Canada')
plt.ylabel('Number of Immigrants')
plt.xlabel('Years')

plt.show()

In [ ]:
df_can['Total'].tail(15)

In [ ]:
df_top15 = df_can['Total'].head(15)

In [ ]:
df_top15.plot(kind='barh',
             figszie=(10,10),
             color='plum')

plt.title('Top 15 Countries contributing to immigratiom to Canada')

plt.show()

## Pie Chart

In [ ]:
df_continents = df_can.groupby('Continent', axis=0).sum()

In [ ]:
df_continents

In [ ]:
df_continents['Total'].plot(kind='pie',
                           figsize=(5,6),
                           autopct='%1.1f%%',
                           startangle=90) # 1.1f 1 angka di belakang koma dalam bentuk f/f log

plt.title('Immigration to Canada by Continent')
plt.axis('equal')

plt.show()

In [ ]:
colors_list = ['gold', 'yellowgreen', 'lightcoral',
              'lightskyblue', 'lightgreen', 'plum']

explode_list = [0.1, 0, 0, 0, 0.1, 0.1]

df_continents['Total'].plot(kind='pie',
                           figsize=(5,6),
                           autopct='%1.1f%%',
                           startangle=90,
                           shadow=True,
                           labels=None,
                           pctdistance=1.12,
                           colors=colors_List
                           explode=explode_list) # 1.1f 1 angka di belakang koma dalam bentuk f/f log

plt.title('Immigration to Canada by Continent', y=12)
plt.axis('equal')

plt.legend(labels=df_continents.index)

plt.show()

## Box Plot

In [ ]:
df_japan = df_can.loc[['Japan'], years].transpose()

In [ ]:
df_japan.plot(kind='box',
             figsize=(8, 6))

plt.title('Box Plot of Japanese Immigrants to Canada')
plt.ylabel('Number of Immigrants')

plt.show()

In [ ]:
df_japan.describe()

In [ ]:
pd.__version__

In [ ]:
!conda update pandas

In [ ]:
df_CI.plot(kind='box',
           figsize=(8, 6),
          vert=False)

plt.title('Box Plot of Japanese Immigrants to Canada')
plt.ylabel('Number of Immigrants')

plt.show()

## Subplots

In [ ]:
fig = plt.figure()

ax0 = fig.add_subplot(1, 2, 1)
ax1 = fig.add_subplot(1, 2, 2)

df_CI.plot(kind='box',
          figsize=(8,6),
          vert=False,
          ax=ax0)
ax0.set_title("Box plot of Immigrants from India and China")
ax0.set_xlabel("Number of Immigrants")
ax0.set_ylabel("Countries")

df_CI.plot(kind='line',
          figsize=(8,6),
          ax=ax1)
ax1.set_title("Line plot of Immigrants from India and China")
ax1.set_xlabel("Number of Immigrants")
ax1.set_ylabel("Countries")

plt.show()

## Scatter Plot

In [ ]:
# gunanya untuk ngebandingin dua variabel. Kalo titik2nya naik, maka korelasinya positif, kalo salah satu variabelnya nambah, maka lainnya nambah.
# Kalo titik2nya naik turun maka korelasinya lemah.
# Untuk ngeliat 2 variabel ada hubungannya atau ga

In [ ]:
df_tot = pd.DataFrame(df_can[years].sum(axis=0))

df_tot.head()

In [ ]:
df_tot.index =  map(int, df_tot.index)
df_tot.reset_index(inplace=True)
df_tot.head()

In [ ]:
df_tot.columns = ['years', 'total']
df_tot.head()

In [ ]:
df_tot.plot(kind='scatter',
           x='years',
           y='total',
           figsize=(10,6))
plt.title('Total Immigration to Canada')
plt.xlabel('Year')
plt.ylabel('Number of Immigrants')

plt.show()

In [ ]:
df_can.to_csv('data.csv')